@charset "utf-8";

@import "reset.css";
@import "font.css";

:root{
	/**** Font ****/
	--font-thin: 'Noto Sans-Thin', sans-serif;
	--font-light: 'Noto Sans-Light', sans-serif;
	--font-demilight: 'Noto Sans-DemiLight', sans-serif;
	--font-regular: 'Noto Sans-Regular', sans-serif;
	--font-medium: 'Noto Sans-Medium', sans-serif;
	--font-bold: 'Noto Sans-Bold', sans-serif;
	--font-black: 'Noto Sans-Black', sans-serif;

	/**** Color ****/
	--color-main: #0ac5a8;
	--color-sub01: #e6f9f6;
	--color-sub02: #17ab96;
	--color-txt01: #333;
	--color-txt02: #828282;
	--color-red: #f75959;
	--color-yellow: #fdcd4c;
	--color-blue: #3b97d3;
	--color-border: #e9e9e9;
	--color-box: #f3f2f7;

	/**** Shadow ****/
	--box-shadow: 0 0 3px rgba(0,0,0,.1);
}

/*
## Common ## 
*/
body, html{font-family: var(--font-regular); color: var(--color-txt01);} 
a{text-decoration: none; color: var(--color-txt01);}
.container{max-width: 720px; margin: 0 auto; padding-bottom: 18.5185vw;}
.container.bottom-none{padding-bottom: 0;}
.cont-wrap{padding: 5.5556vw 2.7778vw; margin-top: 10.8333vw;}
.box-tit{margin: 5.5556vw 0 1.3889vw 0; padding: 0 2.7778vw; display: flex; align-items: center; position: relative;}
.box-tit h2{font-family: var(--font-bold); font-size: 4.4444vw;}
.box-tit .more{font-family: var(--font-medium);  font-size: 3.0556vw; position: absolute; right: 2.7778vw; color: var(--color-txt02);}
.box-tit .red-notice{margin-left: 1.3889vw;}
.red-notice{display: inline-block; font-size: 3.3333vw; color: var(--color-red); font-family: var(--font-regular);}
.strikethrough{text-decoration: line-through;}
.notice-txt{font-size: 2.5vw; color: var(--color-txt02); margin: 1.8519vw 0;}
.notice-box{background-color: var(--color-box); border: 0.7501px solid var(--color-border); padding: 3.7037vw; box-sizing: border-box; margin: 3.7037vw 0;}
.notice-box p{font-size: 2.5vw; color: var(--color-txt01); line-height: 1.2;}
.txt-default{font-size: 2.7778vw; line-height: 1.4; word-break: keep-all;}
.txt-red{color: var(--color-red);}
h2.page-tit{font-size: 28px; font-family: var(--font-bold); margin-bottom: 20px;}
h2.page-tit span{color: var(--color-txt02); font-family: var(--font-medium);}

/*
## Layer Popup
*/
.laypop-wrap{width: 100%; height: 100%; position: fixed;  top: 0; left: 0; z-index: 4; display: none;}
.laypop-wrap .dim-bg, .laypop-wrap .dim-bg02{width: 100%; height: 100%; position: absolute; top: 0; left: 0; background-color: rgba(0,0,0,.4);}
.laypop-wrap .cont-style{width: 88.8889vw; border-radius: 1.1111vw; background-color: #fff; position: absolute; top: 50%; left: 50%; box-sizing: border-box;}
.laypop-wrap .cont-style .cont .pop-header{display: flex; align-items: center; justify-content: space-between; padding: 7.4075vw 5.5556vw;}
.laypop-wrap .cont-style .cont .pop-header h3{font-size: 5.1852vw; font-family: var(--font-bold);}
.laypop-wrap .cont-style .cont .pop-header .btn-close{display: block; width: 5.5556vw; height: 5.5556vw; background: #fff url('../image/ico-close.png') 0 0 no-repeat; background-size: cover;}
.laypop-wrap .cont-style .cont .pop-body{height: auto; max-height: 111.1111vw; overflow-y: auto; padding: 0 5.5556vw;}
.laypop-wrap .cont-style .cont .pop-body::-webkit-scrollbar{width: 0.9259vw;}
.laypop-wrap .cont-style .cont .pop-body::-webkit-scrollbar-thumb{height: auto; background-color: #ddd; border-radius: 1.4815vw;}
.laypop-wrap .cont-style .cont .pop-body::-webkit-scrollbar-track{background-color: transparent;}
.laypop-wrap .laypop-cont.cont-style{padding-bottom: 7.4075vw;}
.laypop-wrap .btn-group{display: flex; margin-top: 7.4075vw;}
.laypop-wrap .btn-group a{color: #fff; display: block; width: 50%; line-height: 12.0370vw; text-align: center; font-size:3.7037vw;}
.laypop-wrap .btn-group .left{background-color: var(--color-sub02); border-radius: 0 0 0 1.1111vw;}
.laypop-wrap .btn-group .right{background-color: var(--color-main); border-radius: 0 0 1.1111vw 0;}
.laypop-wrap .btn-group.center{display: block;}
.laypop-wrap .btn-group.center a{width: 100%; background-color: var(--color-main); border-radius: 0 0 1.1111vw 1.1111vw;}

/*
## Button Style
*/
.btn{width: 100%; line-height: 9.7222vw; color: #fff; background-color: var(--color-main); display: block; text-align: center; border-radius: 5.5556vw; font-size: 3.8889vw; font-family: var(--font-medium); border: 0;}
.btn.middle{line-height: 6.9444vw; font-size: 3.3333vw; font-family: var(--font-redular);}
.btn.goust{background-color: transparent; color: var(--color-main); border: 1px solid var(--color-main); box-sizing: border-box;}
.btn.square{border-radius: 1.1111vw;}
.btn.red{background-color: var(--color-red);}
.btn.auto{width: auto; display: inline-block; padding: 0 20px;}

/*
## Text Button
*/
.txt-btn-wrap{display: flex; align-items: center; justify-content: center;}
.txt-btn-wrap li{font-size: 2.7778vw; font-family: var(--font-regular); padding: 0 2.0833vw; text-align: center; position: relative; cursor: pointer;}
.txt-btn-wrap li a{color: var(--color-txt02);}
.txt-btn-wrap li::after{content: '|'; position: absolute; right: 0; color: var(--color-txt02);}
.txt-btn-wrap li:last-child::after{display: none;}
 
/*
## Box 형 Menu
*/
.menu-box-wrap{width: 100%; padding: 2.7778vw; border: 1px solid var(--color-border); border-radius: 1.1111vw; box-shadow: var(--box-shadow); box-sizing: border-box;}
.menu-box .items{display: flex; align-items: center; justify-content: space-between; padding: 5.5556vw 5.5556vw 5.5556vw 16.6667vw; position: relative; border-bottom: 1px solid var(--color-border);}
.menu-box .items:last-child{border-bottom: 0;}
.menu-box .items div::before{content:''; position: absolute; width: 7.6389vw; height: 7.6389vw;  left: 4.1667vw;}
.menu-box .items.item01 div::before{background: transparent url('../image/ico-membership.png') left center no-repeat; background-size: cover;}
.menu-box .items.item02 div::before{background: transparent url('../image/ico-support.png') left center no-repeat; background-size: cover;}
.menu-box .items.item03 div::before{background: transparent url('../image/ico-account.png') left center no-repeat; background-size: cover;}
.menu-box .items.item04 div::before{background: transparent url('../image/ico-update.png') left center no-repeat; background-size: cover;}
.menu-box .items .menu-name{font-size: 3.3333vw; font-family: var(--font-medium);}
.menu-box .items .menu-des{font-size: 2.7778vw; color: var(--color-txt02); margin-top: 1.3889vw;}
.menu-box .btn-menu{width: 3.3333vw; height: auto; transform: scaleX(-1);}
.menu-box-wrap.none-icon{padding: 0 3.7037vw;}
.menu-box-wrap.none-icon .menu-box .items{padding: 5.5556vw;}
.menu-box-wrap.none-icon .menu-box .items div::before{display: none;}

/*
## Box 형 List
*/
.lis-box li{padding: 4.6296vw; box-shadow: var(--box-shadow); border: 1px solid var(--color-border); border-radius: 1.4815vw; margin-bottom: 1.8519vw;}
.lis-box li:last-child{margin-bottom: 0;}

/*
## 입력박스
*/
.input-style{width: 100%; border: 1px solid var(--color-border); padding: 3.4722vw;  box-sizing: border-box; font-size: 2.7778vw; word-break: keep-all; border-radius: 1.1111vw; font-family: var(--font-regular);}
.input-style::placeholder{color: var(--color-txt02); font-size: 2.7778vw;  font-family: var(--font-regular); line-height: 1.2;}
textarea.input-style{resize: vertical;}
.input-style:focus{outline: none; background-color: var(--color-sub01);}
.write-wrap{margin-bottom: 4.1667vw;}
.write-wrap:last-child{margin-bottom: 0;}
.write-wrap .label-vertical{font-size: 3.3333vw;  font-family: var(--font-medium); margin-bottom: 2.7778vw;}
.write-wrap .label-vertical::after{content: '*'; color: var(--color-red); padding-left: 0.9259vw;}

/*
## Header: 상단고정 
*/
.header-wrap{width: 100%; max-width: 720px; margin: 0 auto; border-bottom: 1px solid #e9e9e9; position: fixed; top: 0; background-color: #fff; z-index: 3;}
.header-wrap .cont{display: flex; align-items: center; justify-content: flex-start; padding: 2.7778vw 5.5556vw; box-sizing: content-box;}
.header-wrap .btn-mypage{width: 8.3333vw; height: auto;}
.header-wrap .cont .logo{width: 36.1111vw; height: auto; display: block; margin: 0 auto;}
.header-wrap .cont .logo img{width: 100%;}
/* Sub Header */
.header-wrap .btn-back{width: 3.3333vw; height: auto;}
.header-wrap .page-name{ display: block; margin: 0 auto; font-size: 5.5556vw; font-family: var(--font-bold);}

/*
## Menu: 하단고정 
*/
.menu-bottom{width: 100%; max-width: 720px; margin: 0 auto; border-top: 1px solid #e9e9e9; position: fixed; bottom: 0; padding: 2.7778vw 0; background-color: #fff; z-index: 3;}
.menu-bottom ul{display: flex; justify-content: space-around;}
.menu-bottom ul li{width: 25%; text-align: center;}
.menu-bottom ul li a img{width: auto; height: 6.25vw; display: block; margin: 0 auto;}
.menu-bottom ul li a p{font-size: 3.0556vw; margin-top: 2.0833vw;}

/*
## Check, Radio Box 
*/
.chk-wrap{}
.chk-wrap input[type="checkbox"]{display: none;}
.chk-wrap input[type="checkbox"] + label{display: inline-block;background: transparent url('../image/img-chk-off.png') 0 0 no-repeat; background-size: 5.5556vw 5.5556vw; line-height: 5.5556vw; padding-left: 7.4075vw; cursor: pointer;}
.chk-wrap input[type="checkbox"]:checked + label{background: transparent url('../image/img-chk-on.png') 0 0 no-repeat; background-size: 5.5556vw 5.5556vw;}

/*
## Swiper Custom
*/
.swiper-wrapper{padding: 0.6944vw 0;}

/*
## Main 
*/
.page-main .user-info{border: 1px solid var(--color-border); border-radius: 1.1111vw; padding: 5.5556vw 0; box-shadow: var(--box-shadow); display: flex; justify-content: space-around;}
.page-main .user-info > div{width: 50%; text-align: center; display: flex; flex-direction: column; justify-content: center; align-items: center;}
.page-main .user-info .img-level{width: 27.7778vw; height: auto;}
.page-main .user-info .left{position: relative;}
.page-main .user-info .left .ico-premium{width: auto; height: 4.8611vw; margin-right: 0.6944vw;}
.page-main .user-info .left .level-name{width: 100%; margin-top: 1.8519vw; display: flex; justify-content: center; align-items: baseline;}
.page-main .user-info .left .level-name p{font-size: 3.6111vw; line-height: 4.8611vw;}
.page-main .user-info .left .level-up{width: 6.8056vw; height: auto; display: block; position: absolute; right: 2.7778vw; top: 0;}
.page-main .user-info .right p, .page-main .user-info .right span{font-size: 4.7222vw; color: var(--color-txt01); font-family: var(--font-regular);}
.page-main .user-info .right .voca-num{font-size: 12.5vw; color: var(--color-main); font-family: var(--font-medium);}
.page-main .user-info .right .btn.red{width: 30.5556vw; margin-top: 2.7778vw;}

/* 단어장 목록 */
.voca-list-cont{padding: 0 0.6944vw;}
.voca-list-cont .voca-cont{border: 1px solid var(--color-border); border-radius: 1.1111vw; position: relative; padding: 2.7778vw; box-shadow: var(--box-shadow);}
.voca-list-cont .voca-cont .name{
	font-family: var(--font-regular); font-size: 3.0556vw; margin-bottom: 1.3889vw; height: 3.4722vw; line-height: 3.4722vw;
	overflow: hidden; white-space: nowrap; position: relative;
}
.voca-list-cont .voca-cont .name div.marquee{width: 100%; height: 4.6296vw; position: absolute; animation: marquee 4s 1s linear infinite;}
.voca-list-cont .voca-cont .num{font-family: var(--font-medium); font-size: 4.1667vw; color: var(--color-main); margin-bottom: 6.9444vw;}
.voca-list-cont .voca-cont .more{font-family: var(--font-regular); font-size: 2.5vw; color: var(--color-txt02);}
.voca-list-cont .voca-cont .ico-ribbon{position: absolute; top: -0.1852vw; right: -0.1852vw; width: 14.2592vw; height: auto; z-index: 2;}
/* 출석체크 */
.attend-wrap{display: flex; align-items: center;  justify-content: space-between; margin: 5.5556vw 0; padding: 2.7778vw 0; border: 1px solid var(--color-border); border-width: 1px 0 1px 0;}
.attend-wrap .box-tit{margin: 0;}
.one-week{display: flex; align-items: center; gap: 1.8519vw; margin-right: 3.7037vw;}
.one-week li div{width: 6.25vw; height: 6.25vw; border-radius: 50%; font-size: 2.7778vw; color: var(--color-txt02); background-color: #f2f2f6; text-align: center; line-height: 6.25vw; font-family: var(--font-medium);}
.one-week li.on div{font-size: 0; background: var(--color-main) url('../image/ico-attend.png') center center no-repeat; background-size: 4.1667vw auto;}
/* 나의 단어장 */
.myvoca-cont{height: 18.75vw; border: 1px solid var(--color-border); border-radius: 1.1111vw; padding: 2.7778vw; position: relative; box-shadow: var(--box-shadow);}
.myvoca-cont .name{
	font-family: var(--font-regular); font-size: 3.0556vw; margin-bottom: 1.3889vw; height: 3.4722vw; line-height: 3.4722vw;
	overflow: hidden; white-space: nowrap; position: relative;
}
.myvoca-cont .name div.marquee{width: 100%; height: 4.6296vw; position: absolute; animation: marquee 4s 1s linear infinite;}
.myvoca-cont .num{font-family: var(--font-medium); font-size: 4.1667vw; color: var(--color-main);}
.myvoca-cont .num span{font-size: 2.5vw; color: var(--color-txt02); display: inline-block; margin-left: 0.6944vw; font-family: var(--font-regular);}
.myvoca-cont .more{font-family: var(--font-regular); font-size: 2.5vw; color: var(--color-txt02); position: absolute; bottom: 2.7778vw; left: 2.7778vw;}
.myvoca-cont.add{display: flex; justify-content: center; align-items: center;}
.myvoca-cont.add img{width: 8.8889vw; height: 8.8889vw;}
/* Layer Popup: 출석체크 자세히 보기 */
.calendar-wrap{margin-bottom: 15.0001px;}
.calendar-wrap .calendar-header{display: flex; justify-content: center; align-items: center; margin-bottom: 3.7037vw;}
.calendar-wrap .calendar-header .month-prev{width: 2.7777vw; height: 4.6296vw; background: #fff url('../image/ico-arrow.png') center center no-repeat; background-size: cover;}
.calendar-wrap .calendar-header .month-next{width: 2.7777vw; height: 4.6296vw; transform: scaleX(-1); background: #fff url('../image/ico-arrow.png') center center no-repeat; background-size: cover;}
.calendar-wrap .calendar-header .month-txt{font-size: 4.8148vw; font-family: var(--font-bold); margin: 0 7.4075vw;}
.calendar-wrap .calendar-body{}
.calendar-wrap .calendar-body table{width: 100%;}
.calendar-wrap .calendar-body table thead{background-color: var(--color-sub01); border: 0.1852vw solid var(--color-border); border-width: 0.1852vw 0 0.1852vw 0;}
.calendar-wrap .calendar-body table thead tr th{padding: 1.8519vw 0; font-size: 2.9629vw;}
.calendar-wrap .calendar-body table tbody tr td{height: 18.5185vw; font-size: 2.9629vw; padding: 1.8519vw 0.9259vw; box-sizing: border-box; border-bottom: 1px solid var(--color-border); position: relative;}
.calendar-wrap .calendar-body table tbody tr td.today::after{content: '오늘'; font-size: 2.5926vw; color: var(--color-main); position: absolute; padding-left: 0.9259vw;}
.calendar-wrap .calendar-body table tbody tr td.attend::before{
	content: ''; width:7.4074vw; height: 7.4074vw; display: block; background: var(--color-main) url('../image/ico-attend.png') center center no-repeat; background-size: 60%; border-radius: 50%;
	position: absolute; bottom: 2.7777vw; right: 50%; transform: translateX(50%); 	
}
.calendar-wrap .calendar-body table tbody tr td a{width: 100%; height: 100%; position: absolute; top: 0; left: 0;}
.calendar-etc{display: flex;}
.calendar-etc .box-etc{background-color: #f3f2f7; border-radius: 1.4815vw;}
.calendar-etc .level-box{width: 33.3333vw; height: 31.4815vw; text-align: center; margin-right: 1.8519vw;}
.calendar-etc .level-box p{padding-top: 3.7037vw; font-size: 3.3333vw;  font-family: var(--font-medium); margin-bottom: 1.8519vw;}
.calendar-etc .level-box img{width: 22.2223vw;}
.calendar-etc .level-box .level-info{width: 3.7037vw; height: 3.7037vw; display: inline-block; background: transparent url('../image/ico-info.png') 0 0 no-repeat; background-size: cover; transform: translateY(0.5556vw);}
.calendar-etc .attend-box{width: calc(100% - 33.3333vw); display: flex; flex-direction: column; justify-content: space-between;}
.calendar-etc .attend-box > div{height: 14.8148vw; padding: 0 3.7037vw; display: flex; align-items: center; justify-content: space-between;}
.calendar-etc .attend-box > div p{font-size: 3.3333vw; font-family: var(--font-medium);}
.calendar-etc .attend-box > div p.num{font-size: 4.0741vw; color: var(--color-main);}
.today-voca-info{width: 100%; display: flex; background-color: var(--color-sub01); border-radius: 1.4815vw; padding: 7.4075vw 0;}
.today-voca-info p{font-family: var(--font-medium); font-size: 3.3333vw; margin-bottom: 1.8519vw;}
.today-voca-info img{width: 12.9629vw; height: auto; margin-bottom: 1.8519vw;}
.today-voca-info span{font-size: 4.6296vw; color: var(--color-main); font-family: var(--font-medium);}
.today-voca-info span.arrow{color: #9dd1cb;}
.today-voca-info .left{width: 50%; text-align: center; border-right: 0.7501px solid var(--color-main);} 
.today-voca-info .right{width: 50%; text-align: center;}

/* Animation: 텍스트 롤링 효과 */
@keyframes marquee { 
  0% { left: 0; }
  100% { left: -100%; }
}

/*
## 마이페이지 
*/
.page-my .user-info{text-align: center; margin-bottom: 2.7778vw;}
.page-my .user-info .img-level{width: 25vw; height: auto;}
.page-my .user-info .level-name{text-align: center; margin: 1.8519vw 0 7.4075vw 0;}
.page-my .user-info .level-name p{display: inline-block; font-size: 3.6111vw;}
.page-my .user-info .level-name .ico-premium{width: 9.0741vw; height: auto; transform: none;}
.page-my .user-info .btn-premium img{width: 6.8056vw; height: auto; display: inline-block; margin-right: 3.7498px; transform: translateY(4.4998px);}
.my-premium{margin-bottom: 3.7037vw;}
.box-pay{border: 1px solid var(--color-border); box-shadow: var(--box-shadow); border-radius: 1.4815vw; padding: 4.1667vw 7.4075vw; text-align: left; display: block; background-color: #fff;}
.box-pay.box-on.on{box-shadow: 0 0 0 1px var(--color-main) inset; border-color: var(--color-main);}
.box-pay + .box-pay{margin-top: 2.7778vw;}
.box-pay .badge-wrap{margin-bottom: 2.0833vw;}
.box-pay .badge{padding: 0 2.7778vw; line-height: 4.7222vw; text-align: center; border-radius: 4.8611vw; color: #fff; display: inline-block; font-size: 2.7778vw;}
.box-pay .badge01{background-color: var(--color-main);}
.box-pay .badge02{background-color: var(--color-red);}
.box-pay .badge03{background-color: var(--color-blue);}
.box-pay .info-pay{width: 100%; display: flex; align-items: center; justify-content: space-between;}
.box-pay .info-pay .month{font-size: 5.9259vw; font-family: var(--font-bold);}
.box-pay .info-pay .pay{text-align: right;}
.box-pay .info-pay .pay p{font-size: 3.3333vw; color: var(--color-txt02);}
.box-pay .info-pay .pay p.buy{font-size: 5.5556vw; font-family: var(--font-bold); color: var(--color-txt01); margin: 0.9259vw 0 1.8519vw;}
.box-pay .info-pay.info-pay-sub .pay .buy, .box-pay .info-pay-sub .month{font-size: 3.8889vw; font-family: var(--font-regular);}
.box-pay .dday-txt{font-size: 3.3333vw; margin-top: 1.8519vw;}
/* 멤버십 결제내역 */
.pay-list-table{width: 100%; text-align: center; font-size: 3.7037vw;}
.pay-list-table tr:nth-child(even){background-color: var(--color-sub01);}
.pay-list-table tr th, .pay-list-table tr td{padding: 3.7037vw 0; vertical-align: middle;}
.pay-list-table thead{background-color: var(--color-main);}
.pay-list-table tr th{color: #fff;}
.pay-list-table tr td a img{width: 5.5556vw; height: auto;}
.pay-info-detail{width: 100%; font-size: 3.7037vw;}
.pay-info-detail tr th, .pay-info-detail tr td{padding: 1.8519vw 0;}
.pay-info-detail tr th{text-align: left; color: var(--color-txt02);}
/* 문의하기 */
.page-inquiry-write .upload-wrap .upload-img{margin-bottom: 3.7037vw;}
.page-inquiry-write .upload-wrap .upload-img ul{display: flex; gap: 2.7777vw;}
.page-inquiry-write .upload-wrap .upload-img ul li{position: relative;}
.page-inquiry-write .upload-wrap .upload-img ul li a{position: absolute; right: -0.9259vw; top: -0.9259vw;}
.page-inquiry-write .upload-wrap .upload-img ul li a img{width: 4.6296vw; height: 4.6296vw;}
.page-inquiry-write .upload-wrap .upload-img .upload-img-box{width: 18.5185vw; height: 18.5185vw; overflow: hidden;}
.page-inquiry-write .upload-wrap .upload-img .upload-img-box img{width: 100%;}
.page-inquiry-write .upload-wrap .upload-btn{position: relative;}
.page-inquiry-write .upload-wrap .upload-btn input{position: absolute; top: 0; left: 0; opacity: 0;}
.page-inquiry-list{border-top: 1px solid #333;}
.page-inquiry-list ul li{border-bottom: 1px solid #333;}
.page-inquiry-list ul li .tit{padding: 5.5556vw 2.7778vw; display: flex; justify-content: space-between; align-items: center;}
.page-inquiry-list ul li .tit div p{font-size: 3.3333vw; font-family: var(--font-medium); margin-bottom: 1.3889vw;}
.page-inquiry-list ul li .tit div p.date{font-size: 3.0556vw; font-family: var(--font-regular); margin-bottom: 0; color: #aeaeae;}
.page-inquiry-list ul li .cont{padding: 3.7037vw; border-top: 0.7501px solid var(--color-border); font-size: 3.3333vw; line-height: 1.2;}
.page-inquiry-list .state{font-size: 2.5vw; display: block; line-height: 4.8611vw; padding: 0 2.0833vw; border-radius: 1.1111vw; background-color: var(--color-box);}
.page-inquiry-list .state.ok{background-color: var(--color-main); color: #fff;}
.page-inquiry-answer .cont{background-color: var(--color-box); padding: 5.5556vw 3.7037vw; border-radius: 1.4815vw; margin-top: 3.7037vw;}
.page-inquiry-answer .cont .tit{font-size: 4.0741vw; font-family: var(--font-medium); margin-bottom: 3.7037vw;}
.page-inquiry-answer .cont div{font-size: 3.3333vw; line-height: 1.2;}
/* 업데이트 히스토리*/
.update-list li .tit{background-color: var(--color-box); padding: 2.0833vw 2.7778vw; font-size: 2.7778vw; display: flex; align-items: center; justify-content: space-between; border-radius: 1.1111vw;}
.update-list li .tit .date{font-size: 2.5vw; color: var(--color-txt02);}
.update-list li .cont{font-size: 2.7778vw; padding: 2.7778vw; line-height: 1.2;}

/*
## 레벨정보
*/
.page-level-info .notice{font-size: 2.5vw; color: var(--color-red); text-indent: 2.7778vw; margin-bottom: 2.0833vw;}
.page-level-info .menu-box.level-list .items{padding: 5.5556vw 5.5556vw 5.5556vw 2.7778vw; justify-content: flex-start;}
.level-list .img-level{width: 25vw; height: auto;}
.level-list .txt-level{margin-left: 4.1667vw;}
.level-list .txt-level p{font-size: 3.3333vw; font-family: var(--font-medium); margin-bottom: 1.3889vw;}

/*
## 프리미엄
*/
.premium-use{background-color: var(--color-box); overflow: hidden;}
.premium-use .cont-wrap{padding: 0;}
.premium-use .pay-section{padding: 0 2.7778vw;}
.premium-use section:first-child{margin-bottom: 5.5556vw;}
.page-permium .tit-area{padding: 0 2.7778vw; margin-bottom: 2.7778vw; display: flex; align-items: center; justify-content: space-between;}
.page-permium .tit-area h2{font-size: 4.1667vw; font-family: var(--font-medium); line-height: 1.2;}
.page-permium .tit-area img{width: 23.4722vw; height: auto;}
.page-permium .pay-list{margin-bottom: 5.5556vw;}
.page-permium section{margin-bottom: 13.8889vw;}
.use-area{background-color: #fff; padding: 5.5556vw 2.7778vw; box-shadow: 0 3px 3px rgba(0,0,0,.1);}

/*
## 내가 아는 단어
*/
.word-hidden .txt-btn-wrap{justify-content: flex-end;}
.word-hidden .txt-btn-wrap li a{color: var(--color-txt01);}
.word-hidden .txt-btn-wrap li.on{color: var(--color-main); font-family: var(--font-bold);}
.word-table{width: 100%; font-size: 20px; margin: 20px 0;}
.word-table thead{background-color: var(--color-box); font-family: var(--font-medium);}
.word-table thead tr th{padding: 15px 0; text-align: center; vertical-align: middle;}
.word-table tbody tr td{padding: 15px 0; border-bottom: 1px solid var(--color-border); vertical-align: middle; line-height: 1.2; word-break: keep-all;}
.word-table tbody tr td:first-child{padding-left: 20px;}
.word-table tbody tr td img{cursor: pointer; width: 35px; height: auto;}
.word-table tbody tr td .chk-wrap{display: flex; align-items: center; justify-content: center;}
.word-table tbody tr.on td{background-color: var(--color-sub01);}
.word-table tbody tr td.hidden{font-size: 0;}
.word-table .chk-wrap label{font-size: 0;}
.word-table .chk-wrap input[type="checkbox"] + label{padding-left: 30px;}
.table-btn{display: flex; justify-content: flex-end; padding: 0 20px;}

/**** PC화면 대비 ****/
@media (min-width: 721px) {
	.container{padding-bottom: 100px;}
	.cont-wrap{padding: 40px 20px; margin-top: 78px;}
	.box-tit{margin: 40px 0 10px 0; padding: 0 20px;}
	.box-tit h2{font-size: 28px;}
	.box-tit .more{font-size: 20px; right: 20px;}
	.box-tit .red-notice{margin-left: 10px;}
	.red-notice{font-size: 18px;}
	.notice-txt{font-size: 18px; margin: 10px 0;}
	.notice-box{padding: 20px; margin: 20px 0;}
	.notice-box p{font-size: 18px;}
	.txt-default{font-size: 20px;}
	/* Layer Popup */
	.laypop-wrap .cont-style{width: 600px; border-radius: 8px;}
	.laypop-wrap .cont-style .cont .pop-header{padding: 40px;}
	.laypop-wrap .cont-style .cont .pop-header h3{font-size: 28px;}
	.laypop-wrap .cont-style .cont .pop-header .btn-close{width: 30px; height: 30px;}
	.laypop-wrap .cont-style .cont .pop-body{max-height: 600px; padding: 0 40px;}
	.laypop-wrap .laypop-cont.cont-style{padding-bottom: 40px;}
	.laypop-wrap .btn-group{margin-top: 40px;}
	.laypop-wrap .btn-group a{line-height: 65px;  font-size: 20px;}
	.laypop-wrap .btn-group .left{border-radius: 0 0 0 8px;}
	.laypop-wrap .btn-group .right{border-radius: 0 0 8px 0;}
	.laypop-wrap .btn-group.center a{border-radius: 0 0 8px 8px;}
	/* Button */
	.btn{line-height: 60px; border-radius: 40px; font-size: 22px;}
	.btn.middle{line-height: 40px; font-size: 20px;}
	/* Text Button */
	.txt-btn-wrap li{font-size: 20px; padding: 0 15px;}
	/* Box 형 Menu*/
	.menu-box-wrap{ padding: 20px;}
	.menu-box .items{padding: 40px 40px 40px 120px; }
	.menu-box .items div::before{width: 55px; height: 55px;  left: 30px;}
	.menu-box .items .menu-name{font-size: 24px;}
	.menu-box .items .menu-des{font-size: 20px; margin-top: 10px;}
	.menu-box .btn-menu{width: 21px;}
	.menu-box-wrap.none-icon{padding: 0 20px;}
	.menu-box-wrap.none-icon .menu-box .items{padding: 40px;}
	/* Box 형 List */
	.lis-box li{padding: 25px; margin-bottom: 10px;}
	/* Header: 상단고정 */
	.header-wrap .cont{padding: 20px 40px;}
	.header-wrap .btn-mypage{width: 45px;}
	.header-wrap .cont .logo{width: 260px;}
	/* Sub Header */
	.header-wrap .btn-back{width: 21px; }
	.header-wrap .page-name{font-size: 36px;}
	/* Menu: 하단고정 */
	.menu-bottom{padding: 10px 0;}
	.menu-bottom ul li a img{height: 40px;}
	.menu-bottom ul li a p{font-size: 18px; margin-top: 15px;}
	/* Checkbox & Radio */
	.chk-wrap input[type="checkbox"] + label{background-size: 30px 30px; line-height: 30px; padding-left: 40px;}
	.chk-wrap input[type="checkbox"]:checked + label{background-size: 30px 30px;}
	/* 입력박스 */
	.input-style{padding: 25px;font-size: 20px;}
	.input-style::placeholder {font-size: 20px; line-height: 30px;}
	.write-wrap{margin-bottom: 30px;}
	.write-wrap .label-vertical{font-size: 24px; margin-bottom: 20px;}
	.write-wrap .label-vertical::after{padding-left: 5px;}
	/* Swiper */
	.swiper-wrapper{padding: 5px 0;}
	/* Main */
	.page-main .user-info{padding: 40px 0;}
	.page-main .user-info .img-level{width: 200px; height: auto;}
	.page-main .user-info .left .ico-premium{height: 35px; margin-right: 5px;}
	.page-main .user-info .left .level-name{margin-top: 10px;}
	.page-main .user-info .left .level-name p{font-size: 24px; line-height: 35px;}
	.page-main .user-info .left .level-up{width: 49px; right: 20px;}
	.page-main .user-info .right p, .page-main .user-info .right span{font-size: 34px;}
	.page-main .user-info .right .voca-num{font-size: 100px;}
	.page-main .user-info .right .btn.red{width: 220px; margin-top: 20px;}
	/* 단어장 목록 */
	.voca-list-cont{padding: 0;}
	.voca-list-cont .voca-cont{padding: 20px; border-radius: 8px;} 
	.voca-list-cont .voca-cont .name{font-size: 22px; margin-bottom: 10px; height: 25px; line-height: 25px;}
	.voca-list-cont .voca-cont .name div.marquee{height: 25px;}
	.voca-list-cont .voca-cont .num{font-size: 30px; margin-bottom: 50px;}
	.voca-list-cont .voca-cont .more{font-size: 18px;}
	.voca-list-cont .voca-cont .ico-ribbon{width: 77px;}
	/* 출석체크 */
	.attend-wrap{margin: 40px 0; padding: 20px 0;}
	.one-week{gap: 15px; margin-right: 20px;}
	.one-week li div{width: 45px; height: 45px; font-size: 20px; line-height: 45px;}
	.one-week li.on div{background-size: 30px 22px;}
	/* 나의 단어장 */
	.myvoca-list-cont{padding: 0;}
	.myvoca-cont{padding: 20px; height: 135px}
	.myvoca-cont .name{font-size: 22px; margin-bottom: 10px; height: 25px; line-height: 25px;}
	.myvoca-cont .name div.marquee{height: 25px;}
	.myvoca-cont .num{ font-size: 30px;}
	.myvoca-cont .num span{font-size: 18px; margin-left: 5px;}
	.myvoca-cont .more{font-size: 18px; bottom: 20px; left: 20px;}
	.myvoca-cont.add img{width: 64px; height: 64px;}
	/* Layer Popup: 출석체크 자세히 보기 */
	.calendar-wrap{margin-bottom: 20px;}
	.calendar-wrap .calendar-header{margin-bottom: 20px;}
	.calendar-wrap .calendar-header .month-prev{width: 15px; height: 25px;}
	.calendar-wrap .calendar-header .month-next{width: 15px; height: 25px;}
	.calendar-wrap .calendar-header .month-txt{font-size: 26px;margin: 0 40px;}
	.calendar-wrap .calendar-body table thead tr th{padding: 10px 0; font-size: 16px;}
	.calendar-wrap .calendar-body table tbody tr td{height: 100px; padding: 10px 5px; font-size: 16px;}
	.calendar-wrap .calendar-body table tbody tr td.today::after{padding-left: 5px; font-size: 16px;}
	.calendar-wrap .calendar-body table tbody tr td.attend::before{width: 45px; height: 45px; bottom: 15px;}
	.calendar-etc .box-etc{border-radius: 8px;}
	.calendar-etc .level-box{width: 180px; height: 170px; margin-right: 10px;}
	.calendar-etc .level-box p{padding-top: 20px; font-size: 18px; margin-bottom: 10px;}
	.calendar-etc .level-box img{width: 120px;}
	.calendar-etc .level-box .level-info{width: 20px; height: 20px; transform: translateY(3px);}
	.calendar-etc .attend-box{width: calc(100% - 190px); }
	.calendar-etc .attend-box > div{height: 80px; padding: 0 40px;}
	.calendar-etc .attend-box > div p{font-size: 18px;}
	.calendar-etc .attend-box > div p.num{font-size: 40px;}
	.today-voca-info{width: 100%; display: flex; background-color: var(--color-sub01); border-radius: 8px; padding: 40px 0;}
	.today-voca-info p{font-size: 18px; margin-bottom: 10px;}
	.today-voca-info img{width: 70px;  margin-bottom: 10px;}
	.today-voca-info span{font-size: 25px;}
	/* 마이페이지 */
	.page-my .user-info{margin-bottom: 20px;}
	.page-my .user-info .img-level{width: 180px;}
	.page-my .user-info .level-name{margin: 10px 0 40px 0;}
	.page-my .user-info .level-name p{font-size: 25px;}
	.page-my .user-info .level-name .ico-premium{width: 49px; height: auto; transform: translateY(6px);}
	.page-my .user-info .btn-premium img{width: 49px; margin-right: 5px; transform: translateY(6px);}
	.my-premium{margin-bottom: 20px;}
	.box-pay{border-radius: 8px; padding: 30px 40px;}
	.box-pay + .box-pay{margin-top: 20px;}
	.box-pay .badge-wrap{margin-bottom: 15px;}
	.box-pay .badge{padding: 0 20px; line-height: 34px; border-radius: 35px; font-size: 20px;}
	.box-pay .info-pay .month{font-size: 32px;}
	.box-pay .info-pay .pay p{font-size: 18px;}
	.box-pay .info-pay .pay p.buy{font-size: 30px; margin: 5px 0 10px;}
	.box-pay .info-pay.info-pay-sub .pay .buy, .box-pay .info-pay-sub .month{font-size: 28px;}
	.box-pay .dday-txt{font-size: 18px; margin-top: 10px;}
	/* 멤버십 결제내역 */
	.pay-list-table{font-size: 20px;}
	.pay-list-table tr th, .pay-list-table tr td{padding: 20px 0;}
	.pay-list-table tr td a img{width: 30px; height: auto;}
	.pay-info-detail{ font-size: 20px;}
	.pay-info-detail tr th, .pay-info-detail tr td{padding: 10px 0;}
	/* 문의하기 */
	.page-inquiry-write .upload-wrap .upload-img{margin-bottom: 20px;}
	.page-inquiry-write .upload-wrap .upload-img ul{gap: 15px;}
	.page-inquiry-write .upload-wrap .upload-img ul li a{right: -5px; top: -5px;}
	.page-inquiry-write .upload-wrap .upload-img ul li a img{width: 25px; height: 25px;}
	.page-inquiry-write .upload-wrap .upload-img .upload-img-box{width: 100px; height: 100px;}
	.page-inquiry-list ul li .tit{padding: 40px 20px; }
	.page-inquiry-list ul li .tit div p{font-size: 22px; margin-bottom: 10px;}
	.page-inquiry-list ul li .tit div p.date{font-size: 18px; margin-bottom: 0; color: #aeaeae;}
	.page-inquiry-list ul li .cont{padding: 20px;font-size: 18px;}
	.page-inquiry-list .state{font-size: 18px; line-height: 35px; padding: 0 15px; border-radius: 8px;}
	.page-inquiry-answer .cont{ padding: 30px 20px; margin-top: 20px;}
	.page-inquiry-answer .cont .tit{font-size: 22px; margin-bottom: 20px;}
	.page-inquiry-answer .cont div{font-size: 18px;}
	/* 업데이트 히스토리*/
	.update-list li .tit{background-color: var(--color-box); padding: 15px 20px; font-size: 20px; border-radius: 8px;}
	.update-list li .tit .date{font-size: 18px;}
	.update-list li .cont{font-size: 20px; padding: 20px;}
	/* 레벨정보 */
	.page-level-info .notice{font-size: 18px; text-indent: 20px; margin-bottom: 15px;}
	.page-level-info .menu-box.level-list .items{padding: 40px 40px 40px 20px;}
	.level-list .img-level{width: 180px;}
	.level-list .txt-level{margin-left: 30px;}
	.level-list .txt-level p{font-size: 24px; margin-bottom: 10px;}
	/* 프리미엄 */
	.premium-use .pay-section{padding: 0 20px;}
	.premium-use section:first-child{margin-bottom: 40px;}
	.page-permium .tit-area{padding: 0 20px; margin-bottom: 20px;}
	.page-permium .tit-area h2{font-size: 30px;}
	.page-permium .tit-area img{width: 169px;}
	.page-permium .pay-list{margin-bottom: 40px;}
	.page-permium section{margin-bottom: 100px;}
	.use-area{padding: 40px 20px;}
}