@charset "utf-8";

@import "reset.css";
@import "font.css";

:root{
	/**** Font ****/
	--font-thin: 'Noto Sans-Thin', sans-serif;
	--font-light: 'Noto Sans-Light', sans-serif;
	--font-demilight: 'Noto Sans-DemiLight', sans-serif;
	--font-regular: 'Noto Sans-Regular', sans-serif;
	--font-medium: 'Noto Sans-Medium', sans-serif;
	--font-bold: 'Noto Sans-Bold', sans-serif;
	--font-black: 'Noto Sans-Black', sans-serif;

	/**** Color ****/
	--color-main: #0ac5a8;
	--color-txt01: #333;
	--color-txt02: #828282;
	--color-red: #f75959;
	--color-yellow: #fdcd4c;
	--color-border: #e9e9e9;
}

/*
## Common ## 
*/
body, html{font-family: var(--font-regular); color: var(--color-txt01);} 
a{text-decoration: none; color: var(--color-txt01);}
.container{max-width: 720px; margin: 0 auto; padding-bottom: 13.8889vw;}
.cont-wrap{padding: 5.5556vw 2.7778vw; margin-top: 11.9444vw;}
.box-tit{margin: 5.5556vw 0 2.7778vw 0; padding: 0 2.7778vw; display: flex; align-items: center; position: relative;}
.box-tit h2{font-family: var(--font-bold); font-size: 3.8889vw;}
.box-tit .more{font-family: var(--font-medium);  font-size: 2.7778vw; position: absolute; right: 2.7778vw; color: var(--color-txt02);}
.box-tit .red-notice{margin-left: 1.3889vw;}
.red-notice{display: inline-block; font-size: 2.5vw; color: var(--color-red); font-family: var(--font-regular);}

/*
## Header: 상단고정 ## 
*/
.header-wrap{width: 100%; max-width: 720px; margin: 0 auto; border-bottom: 1px solid #e9e9e9; position: fixed; top: 0; background-color: #fff; z-index: 3;}
.header-wrap .cont{display: flex; align-items: center; justify-content: flex-start; padding: 2.7778vw 5.5556vw; box-sizing: content-box;}
.header-wrap .btn-mypage{width: 6.2500vw; height: auto;}
.header-wrap .cont .logo{width: 36.1111vw; height: auto; display: block; margin: 0 auto;}
.header-wrap .cont .logo img{width: 100%;}

/*
## Menu: 하단고정 ## 
*/
.menu-bottom{width: 100%; max-width: 720px; margin: 0 auto; border-top: 1px solid #e9e9e9; position: fixed; bottom: 0; padding: 2.7778vw 0; background-color: #fff; z-index: 3;}
.menu-bottom ul{display: flex; justify-content: space-around;}
.menu-bottom ul li{width: 25%; text-align: center;}
.menu-bottom ul li a img{width: auto; height: 7.6389vw; display: block; margin: 0 auto;}
.menu-bottom ul li a p{font-size: 3.3333vw; margin-top: 2.0833vw;}

/*
## Main ## 
*/
.page-main .user-info{border: 1px solid var(--color-border); border-radius: 10px; padding: 0 4.1667vw 4.1667vw 0; box-shadow: 0 0 3px rgba(0,0,0,.1); display: flex; justify-content: space-around;}
.page-main .user-info > div{width: 50%; text-align: center; display: flex; flex-direction: column; justify-content: center; align-items: center;}
.page-main .user-info .img-level{width: 27.7778vw; height: auto;}
.page-main .user-info .left{position: relative;}
.page-main .user-info .left .ico-premium{width: auto; height: 4.8611vw; margin-right: 0.6944vw;}
.page-main .user-info .left .level-name{width: 100%; display: flex; justify-content: center; align-items: center;}
.page-main .user-info .left .level-name p{font-size: 3.3333vw; line-height: 4.8611vw;}
.page-main .user-info .left .level-up{width: 6.8056vw; height: auto; display: block; position: absolute; right: 2.7778vw; top: 2.7778vw;}
.page-main .user-info .right{padding-top: 2.7778vw;}
.page-main .user-info .right p, .page-main .user-info .right span{font-size:4.7222vw; color: var(--color-txt01); font-family: var(--font-regular);}
.page-main .user-info .right .voca-num{font-size: 13.8889vw; color: var(--color-main); font-family: var(--font-medium);}
/* 단어장 목록 */
.voca-list-cont .voca-cont{border: 1px solid var(--color-border); border-radius: 8px; position: relative; padding: 2.7778vw;}
.voca-list-cont .voca-cont .name{
	font-family: var(--font-regular); font-size: 3.0556vw; margin-bottom: 1.3889vw; height: 3.4722vw; line-height: 3.4722vw;
	overflow: hidden; white-space: nowrap; position: relative;
}
.voca-list-cont .voca-cont .name div.marquee{width: 100%; height: 3.4722vw; position: absolute; animation: marquee 4s 1s linear infinite;}
.voca-list-cont .voca-cont .num{font-family: var(--font-medium); font-size: 4.1667vw; color: var(--color-main); margin-bottom: 6.9444vw;}
.voca-list-cont .voca-cont .more{font-family: var(--font-regular); font-size: 2.5vw; color: var(--color-txt02);}
.voca-list-cont .voca-cont .ico-ribbon{position: absolute; top: 0; right: 0; width: 10.6944vw; height: auto; z-index: 2;}
/* 출석체크 */
.attend-wrap{display: flex; align-items: center;  justify-content: space-between; margin: 5.5556vw 0; padding: 2.7778vw 0; border: 1px solid var(--color-border); border-width: 1px 0 1px 0;}
.attend-wrap .box-tit{margin: 0;}
.one-week{display: flex; align-items: center; gap: 2.0833vw; margin-right: 2.7778vw;}
.one-week li div{width: 6.25vw; height: 6.25vw; border-radius: 50%; font-size: 2.7778vw; color: var(--color-txt02); background-color: #f2f2f6; text-align: center; line-height: 6.25vw; font-family: var(--font-medium);}
.one-week li.on div{font-size: 0; background: var(--color-main) url('../image/ico-attend.png') center center no-repeat; background-size: 4.1667vw 3.0556vw;}
/* 나의 단어장 */
.myvoca-cont{height: 18.75vw; border: 1px solid var(--color-border); border-radius: 8px; padding: 2.7778vw; position: relative;}
.myvoca-cont .name{
	font-family: var(--font-regular); font-size: 3.0556vw; margin-bottom: 1.3889vw; height: 3.4722vw; line-height: 3.4722vw;
	overflow: hidden; white-space: nowrap; position: relative;
}
.myvoca-cont .name div.marquee{width: 100%; height: 3.4722vw; position: absolute; animation: marquee 4s 1s linear infinite;}
.myvoca-cont .num{font-family: var(--font-medium); font-size: 4.1667vw; color: var(--color-main);}
.myvoca-cont .num span{font-size: 2.5vw; color: var(--color-txt02); display: inline-block; margin-left: 0.6944vw; font-family: var(--font-regular);}
.myvoca-cont .more{font-family: var(--font-regular); font-size: 2.5vw; color: var(--color-txt02); position: absolute; bottom: 2.7778vw; left: 2.7778vw;}
.myvoca-cont.add{display: flex; justify-content: center; align-items: center;}
.myvoca-cont.add img{width: 8.8889vw; height: 8.8889vw;}


/* Animation: 텍스트 롤링 효과 */
@keyframes marquee { 
  0% { left: 0; }
  100% { left: -100%; }
}

/****  ****/
@media (min-width: 721px) { /* PC 화면 */
	.container{padding-bottom: 100px;}
	.cont-wrap{padding: 40px 20px; margin-top: 86px;}
	.box-tit{margin: 40px 0 20px 0; padding: 0 20px;}
	.box-tit h2{font-size: 28px;}
	.box-tit .more{font-size: 20px; right: 20px;}
	.box-tit .red-notice{margin-left: 10px;}
	.red-notice{font-size: 18px;}
	/* Header: 상단고정 */
	.header-wrap .cont{padding: 20px 40px;}
	.header-wrap .btn-mypage{width: 45px;}
	.header-wrap .cont .logo{width: 260px;}
	/* Menu: 하단고정 */
	.menu-bottom{padding: 10px 0;}
	.menu-bottom ul li a img{height: 40px;}
	.menu-bottom ul li a p{font-size: 18px; margin-top: 15px;}
	/* Main */
	.page-main .user-info{padding: 0 30px 30px 0;}
	.page-main .user-info .img-level{width: 200px; height: auto;}
	.page-main .user-info .left .ico-premium{height: 35px; margin-right: 5px;}
	.page-main .user-info .left .level-name p{font-size: 24px; line-height: 35px;}
	.page-main .user-info .left .level-up{width: 49px; right: 20px; top: 20px;}
	.page-main .user-info .right{padding-top: 20px;}
	.page-main .user-info .right p, .page-main .user-info .right span{font-size: 34px;}
	.page-main .user-info .right .voca-num{font-size: 100px;}
	/* 단어장 목록 */
	.voca-list-cont .voca-cont{padding: 20px;}
	.voca-list-cont .voca-cont .name{font-size: 22px; margin-bottom: 10px; height: 25px; line-height: 25px;}
	.voca-list-cont .voca-cont .name div.marquee{height: 25px;}
	.voca-list-cont .voca-cont .num{ font-size: 30px; margin-bottom: 50px;}
	.voca-list-cont .voca-cont .more{font-size: 18px;}
	.voca-list-cont .voca-cont .ico-ribbon{width: 77px;}
	/* 출석체크 */
	.attend-wrap{margin: 40px 0; padding: 20px 0;}
	.one-week{gap: 15px; margin-right: 20px;}
	.one-week li div{width: 45px; height: 45px; font-size: 20px; line-height: 45px;}
	.one-week li.on div{background-size: 30px 22px;}
	/* 나의 단어장 */
	.myvoca-cont{padding: 20px; height: 135px}
	.myvoca-cont .name{font-size: 22px; margin-bottom: 10px; height: 25px; line-height: 25px;}
	.myvoca-cont .name div.marquee{height: 25px;}
	.myvoca-cont .num{ font-size: 30px;}
	.myvoca-cont .num span{font-size: 18px; margin-left: 5px;}
	.myvoca-cont .more{font-size: 18px; bottom: 20px; left: 20px;}
	.myvoca-cont.add img{width: 64px; height: 64px;}
}